/* 
$nord0: #000;
$nord1: #3B4252;
$nord2: #434C5E;
$nord3: #4C566A;
$nord4: #D8DEE9;
$nord5: #E5E9F0;
$nord6: #ECEFF4;
$nord7:  #8FBCBB;
$nord8:  #88C0D0;
$nord9:  #81A1C1;
$nord10: #5E81AC;
$nord11: #BF616A;
$nord12: #D08770;
$nord13: #EBCB8B;
$nord14: #A3BE8C;
$nord15: #B48EAD;

id TabsToolbar -> colore barra tab e tab 

id="nav-bar-customization-target"
*/

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* urlbar compatta */

:root[uidensity=compact] #urlbar,
:root[uidensity=compact] .searchbar-textbox {
  font-size: unset !important;
  min-height: 20px !important;
  margin-top: 7px !important;
  margin-bottom: 5px !important;
}

:root[uidensity=compact] #identity-box {
  max-height: 18px;
}

:root[uidensity=compact] #nav-bar .toolbarbutton-1 {
  padding: 0px !important;
}

/* Back & Forward buttons */  
#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {
	display: none !important;
}

/* Move Tab-bar beside Nav-bar */
#TabsToolbar {      
	margin-bottom: 0px !important;                /* not needed anymore? */
	margin-top: 0px !important;                   /*  */
	margin-left: 40vw !important;
	margin-right: -34px !important;
	max-height: 32px !important;
  }

  #nav-bar {      
	margin-bottom: -1px !important;               /* remove navbar bottom 1px border */
	margin-top: -32px !important;
	margin-right: 55vw !important; 
	margin-left: 6vw;
	border-top: none !important;
  }   



  /* Remove empty space before first tab
Delete this rule if you need a space to drag the window*/
#TabsToolbar .titlebar-placeholder[type="pre-tabs"]{
    display: none !important;
}



  #pageActionButton,
  #pocket-button-box,
  #star-button,
  #reload-button,
  #stop-reload-button,
  .tabs-newtab-button,
  .autocomplete-history-dropmarker,
  #identity-icon-labels
  {
	  display: none !important;
  }

	#PanelUI-menu-button,
	#downloads-button,
  #nav-bar-overflow-button  { 
	  height: 20px!important; 
	  width: 20px!important; 
	  padding: 3px !important;
	  margin: 0px !important;

	  background-color: #000 !important;

	  
	}

	#nav-bar-overflow-button:hover:not([disabled]) > .toolbarbutton-icon {
		background-color: #000 !important;
	}

	#nav-bar-overflow-button:active:not([disabled]) > .toolbarbutton-icon {
		background-color: #000 !important;
	  }








  /* Move hamburger menu to the left */
  #PanelUI-button,
  #customization-panel-container,
  #customization-panelWrapper .panel-arrow { 
	-moz-box-ordinal-group: 0 !important;
	margin-right: -6px !important;
  }

/*
 * Only show close buttons on background tabs when hovering with the mouse
 *
 * Contributor(s): Timvde
 */

 .tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
	display: none !important;
  }
  
  .tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
	display: -moz-box !important;
	align: left !important;
	/* background-color: #C61C6F; */
  }


#toolbar-menubar {
	background-color: #000
}

  #TabsToolbar{
	background-color: #000
}

#navigator-toolbox{
	color: #000 !important;
}

#nav-bar{
	background-color: #000
}

#nav-bar-customization-target {
	background-color: #000
}

.tab-content {
	background-color: #000 !important;
  }

.tab-content[selected="true"] {
	background-color: #3B4252 !important;
  }

#urlbar {
	background-color: #3B4252 !important;
}
/* 
.tab-line[selected="true"] {
	background-color :#EBCB8B !important; 
}  */
